.post-list-container {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;

  .post-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    word-break: break-all;
  }

  .finished {
    background-color: var(--secondary);
    border: var(--border-secondary);
    color: var(--on-secondary);
    box-shadow: 0 0 10px 5px var(--shadow-secondary);
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .emoji-holder {
      width: 40px;

      img {
        margin-left: 10px;
      }
    }
  }
}
